name: msvc-dev-cmd (release)

on:
  push:
    branches:
      - release/*
  schedule:
    - cron: '0 6 * * *'

jobs:
  test:
    name: release
    runs-on: windows-latest
    steps:
      - name: Setup Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1
      - name: Check out source code
        uses: actions/checkout@v2
      - name: Compile and run some C code
        shell: cmd
        run: |
          cl.exe hello.c
          hello.exe
  audit:
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v2
      - run: npm audit --audit-level=moderate --production
